{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}
{# Page Histoire #}
{% extends "base.twig" %}

{% block description %}Histoire de la LSPD{% endblock %}

{% block key %}Hitsoire{% endblock %}

{% block title %}- Histoire{% endblock %}

{% block navigation %}
  <p><a href="/">Accueil</a></p>
  <p><a href="/Reglements">Règlements</a></p>
  <p><a href="/Candidature" target="_blank">Candidature</a></p>
{% endblock %}

{% block main %}
  <nav>
    <p>Navigation :</p>
    <a href="#1850">1850-1900</a>
    <a href="#1900">1900-1925</a>
    <a href="#1926">1926-1950</a>
    <a href="#1950">1950-1967</a>
    <a href="#1967">1967-1978</a>
    <a href="#1978">1978-1992</a>
    <a href="#1992">1992-1997</a>
    <a href="#1997">1997-2002</a>
    <a href="#2002">2002-2009</a>
    <a href="#">Revenir en haut</a>
  </nav>

  <section class="contenu">
    <!-- L'histoire a été reprise et adaptée pour le LSPD depuis le site : http://www.lapdonline.org/ -->
    <h1>Histoire</h1>

    <h2 id="1850">1850-1900</h2>
    <p>Les années 1850, avant la guerre de sécession, entraînèrent la
      Californie dans un tourbillon d'événements passionnants. Les trois
      années  précédentes ont vu des dizaines de milliers de prospecteurs du
      monde entier attirés par la promesse de richesses soudaines dans les
      champs aurifères. La fin de la guerre du Mexique a ajouté de vastes
      territoires aux États-Unis. La Californie fut accueillie dans l'Union
      comme nouvel État, faisant de la ville de Los Santos avec ses 1 610
      habitants, son point central. Pendant de nombreuses années,
      Los Santos continua de s'agrandir grâce à l'arrivée de nouveaux
      habitants, quoique manquant d'infrastructures adaptées. Des centaines
      de familles, des agriculteurs, des éleveurs et des commerçants s'y
      installèrent, mais aussi des joueurs désabusés des contreforts de la
      Sierra, des voleurs de chevaux et des renégats. Le Far West n'a jamais
      été aussi sauvage.</p>

    <p>La création de ce qui deviendra, le LSPD résulta d'un assassinat en
      1853. La victime était Jack "chasse à la baleine", second marshal de
      la ville. Cela incita le maire, le Dr.AW Hope à organiser une force
      de sécurité et de maintien de l'ordre : "Les Rangers de Los Santos",
      qui se portèrent volontaires pour aider le shérif du comté aux abois
      et le bureau du marshal. Les Rangers furent identifiés par un ruban
      blanc marqué, en anglais et en espagnol : « police de la ville». En
      parallèle, une force fut créée par le Conseil de Los Santos, « Les
      Gardes de Ville » qui au cours de leur courte carrière, étaient vêtus
      du premier uniforme officiel de police. Ils succédèrent aux Rangers
      mais leur efficacité fut discutable. Les meurtres se produisaient au
      rythme d'un par jour, beaucoup résultant de divergences d'opinion
      exprimées dans les 400 salles de jeux de la ville.
    </p>

    <p>La création de ce qui deviendra, le LSPD résulta d'un assassinat en
      1853. La victime était Jack "chasse à la baleine", second marshal de
      la ville. Cela incita le maire, le Dr.AW Hope à organiser une force de
      sécurité et de maintien de l'ordre : "Les Rangers de Los Santos", qui
      se portèrent volontaires pour aider le shérif du comté aux abois et le
      bureau du marshal. Les Rangers furent identifiés par un ruban blanc
      marqué, en anglais et en espagnol : « police de la ville». En
      parallèle, une force fut créée par le Conseil de Los Santos,
      « Les Gardes de Ville » qui au cours de leur courte carrière, étaient
      vêtus du premier uniforme officiel de police. Ils succédèrent aux
      Rangers mais leur efficacité fut discutable. Les meurtres se
      produisaient au rythme d'un par jour, beaucoup résultant de
      divergences d'opinion exprimées dans les 400 salles de jeux de la
      ville.
    </p>
    <p>À l'époque, la justice était expéditive, souvent au mépris des lois.
      Durant les années 1860, il y avait un tel climat de violence qu'un
      groupe de résidents terrifiés, craignant pour leurs vies et leurs
      biens, fit appel à la France pour leur protection. Le gouvernement
      français déploya des troupes. On ne sait cependant combien de temps
      ils sont restés et pourquoi leur présence a été tolérée par le
      gouvernement des États-Unis.
    </p>

    <p>En 1875, la première patrouille à cheval trottait dans les rues non
      pavées. Ils étaient payés 95 USD par mois pour leurs services, 5 USD
      de plus que les patrouilleurs à pied et seulement 10 USD de moins que
      le marshal. Le ministère continua à déployer des officiers montés
      jusqu'en 1916. En 1876, avec la nomination du chef Gerkens, est
      arrivé le premier uniforme réglementaire : un manteau de serge bleu
      et un chapeau de feutre. Les agents achetaient leurs badges avec leur
      propre argent, pour 6 USD. Entre 1876 et 1889, 15 chefs se sont
      succédé, incapables ou refusant de faire face aux défis liés à la
      croissance d'une communauté tapageuse.
    </p>

    <p>En 1886, le ministère engagea ses deux premiers officiers
      afro-américains, Robert William Stewart et Roy Green. Le LSPD est
      arrivé à maturité en 1889 lorsque John M. Glass fut nommé chef. Il
      servit pendant onze années et développa le corps de police comme une
      force d'entraînement reconnue pour son professionnalisme. Il y avait
      alors 70 officiers, un pour 1 500 habitants. Le siège central,
      anciennement logé dans l'hôtel de ville de Los Santos, déménagea au
      sein d'une nouvelle installation destinée à rester en service pendant
      60 ans.
    </p>
  </section>

  <section class="contenu">
    <h2 id="1900">1900-1925</h2>

    <p>Au début des années 1900, la population de la ville augmenta de plus
      de 100 000 habitants, avec moins de 70 agents luttant pour maintenir
      la paix. Ils furent largement occupés à contenir la violence et le
      trafic d'alcool, mais des problèmes supplémentaires s'ajoutèrent aux
      difficultés que le LSPD rencontrait. Le bureau du maire assuma de plus
      en plus le contrôle du LSPD et de ses pratiques. Cela explique, au
      moins en partie, la nomination de 16 chefs entre 1900 et 1923.
      L'ingérence politique, cependant, n'a pas empêché l'émergence de la
      force publique en 1903, et l'augmentation du personnel assermenté à
      200 agents, en réponse aux demandes des citoyens.
    </p>

    <p>Après avoir servi comme chef de la police intérimaire pendant environ
      un an, Walter H. Auble reprit ses fonctions en tant que capitaine
      quand, en septembre 1908, il fut abattu par un suspect lors d'un
      cambriolage. Il est devenu le troisième plus haut gradé à perdre
      la vie dans l'exercice de ses fonctions. L'un des points lumineux de
      la période fut le début du programme de formation officiel du
      Département en 1916. Avec l'entrée des États-Unis dans la Première
      Guerre mondiale, l'accent fut mis sur les violations des infractions
      fédérales comme «défaut d'enregistrement par un Allemand", "énoncés
      séditieux" et "soupçonné d'être un ennemi." Une "War Squad" fut créée
      et toute activité communiste, réelle ou présumée, fut régulièrement
      étudiée. Les travailleurs en grève furent étiquetés comme «Rouges» et
      avertis qu'ils étaient soumis à arrestation pour subversion.
      Déterminés à résister à toute invasion armée potentielle par les
      troupes du Kaiser, les agents furent organisés en une "Home Guard,"
      armés et préparés pour aider l'armée et la marine. 15 % du personnel
      servit au sein des forces armées.
    </p>

    <p>Au cours de l'épidémie de grippe de 1918, près de 500 000 Américains
      furent mortellement frappés. Parmi eux se trouvaient de nombreux
      officiers du LSPD. Une "Flying Squad" vit le jour en 1918. Elle était
      équipée de deux voitures "hautement puissantes"  exploitées par des
      détectives chevronnés qui traitaient les crimes violents qui se
      produisaient souvent au cours des premières heures de la matinée. À
      partir de 1920 et pour la majeure partie des 20 années suivantes, la
      corruption a entaché le gouvernement local et la police. Ce fut
      l'époque de la prohibition et de la dépression. Connue en tant que
      ville grande ouverte, Los Santos attira les pires éléments :
       politiciens véreux, racketteurs, bootleggers... La ville était
       totalement aux mains des patrons qui contrôlaient les élus, dictaient
       l'agenda de la police et accordaient des promotions tout en
       recueillant des sommes énormes sur l'alcool, le jeu, et le vice.
       Au cours d'une période de 15 mois, plus d'une centaine d'agents ont
       été licenciés sur accusation de faute. Parallèlement, un système de
       mérite a été mis en œuvre en 1920, suivie en 1922 par des
       augmentations de salaire et la nomination du premier chef adjoint.
       La population de la ville approchait un million et son territoire
       était étendu à 363 miles carrés. Août Vollmer, chef de la police de
       Berkeley accepta de prendre la tête du département pendant un an. La
       probabilité existe qu'il ne savait pas que les patrons avaient appuyé
       sa candidature dans leurs efforts pour réduire au silence les médias.
     </p>

     <p>En tout état de cause, Vollmer, un réformateur et un administrateur
       dédié, réorganisa le Département. Il améliora les conditions de
       travail, établit de nouvelles normes de professionnalisme et jeta les
       bases de ce qui est devenu depuis la Division des enquêtes
       scientifiques du LSPD. Il a également formé 300 hommes au sein de la
       "Division du crime," précurseur de la criminelle d'aujourd'hui, en
       concentrant les ressources du personnel sur les zones de criminalité
       élevé. Vollmer a fait la déclaration souvent citée : « Il n'y a pas
       de vocation plus élevée que celle de policier, je préfère être
       policier que président.».
     </p>
  </section>

   <section class="contenu">
     <h2 id="1926">1926-1950</h2>
     <p>James E. Davies prit la succession de Vollmer en 1926, il forma une
       "gun squad" annonçant qu'il " voulait mettre la main sur tout hommes
       armés dans les rues de Los Santos, les ramener mort plutôt que
       vivant, et réprimander tout officier qui montrait la moindre
       miséricorde devant un criminel.» En plus de perfectionner leur
       adresse au tir, Davis chercha à faire de ses agents, des experts des
       armes à feu. Il lança le système de fichiers pour le suivi des
       criminels recherchés, souligna la valeur des statistiques pour
       déterminer les tendances de la criminalité, et licencia plus de
       240 officiers pour "mauvaise conduite."
     </p>

     <p>Le successeur de Davis, Roy E. Steckel, a mis en œuvre la première
       patrouille aérienne en 1931. Mais la confiance du public dans le LSPD
       laissait à désirer. Dans un effort pour rétablir la confiance, le
       maire John C. Porter (1929-1933) embaucha un ancien détective du LSPD
       pour maintenir une surveillance sur le département, assisté par des
       enquêteurs privés qui acquirent le nom de "fouineurs." Ils étaient
       équipés de badges de capitaine et espionnaient les hauts
       fonctionnaires de la ville. Ils fonctionnèrent ainsi pendant trois
       ans avant que le conseil municipal ne renonce à leurs services. Le
       point culminant du mandat du chef Steckel eut lieu en 1931 avec la
       mise en œuvre de ce qui a été appelé « le système municipal de radio
       de la police le plus moderne dans le monde." Les appels de citoyens
       étaient diffusés aux agents des 44 voitures de patrouille. En
       réaction, la police pouvait intervenir en moins de trois minutes
       partout dans la ville.
     </p>

     <p>Dés son retour au pouvoir en 1933, James E.Davis déploya une Red
       Squad pour enquêter et contrôler les activités radicales, les grèves
       et les émeutes. La tactique employée était brutale mais ses membres
       avaient la bénédiction des représentants du gouvernement et de la
       communauté des affaires. Pendant les jours de dépression, il fut
       autorisé la fermeture de toutes les frontières de la Californie à
       tous ceux qui manquaient de moyens financiers afin de freiner
       l'arrivée de personnes pauvres. Le LSPD répondit favorablement en
       affectant 126 agents à la patrouille des frontières. Le blocus dura
       deux mois. La corruption atteignit des sommets jamais atteint pendant
       la durée du mandat de Frank L. Shaw, dont le frère Joe exerçait une
       autorité sur les départements de police et les pompiers. Shaw fut
       évincé de ses fonctions en 1938. Le maire suivant, Bowron combattit
       efficacement la corruption et le patronat. Après son élection, il
       força des dizaines de commissaires à prendre leur retraite. Leurs
       remplaçants menèrent à bien la détermination du maire pour un
        gouvernement propre. L'échec de 45 officiers de haut rang à corriger
        les pratiques douteuses entraîna leur démission. Arthur C. Hohmann
        devint chef en 1939. Il se consacra à la modernisation du
        Département, produisant l'insigne encore utilisée aujourd'hui et
        l'utilisation des sirènes de police.
     </p>

     <p>Lorsque la Seconde Guerre mondiale fut déclenchée, le LSPD fut
       essoré par les demandes des forces armées lors de l'entrée en guerre
       des États-Unis en 1942. De nouvelles recrues furent formées en
       seulement six semaines (douze étaient requises). Des unités furent
       déployés dans la division du Port de Los Santos pour surveiller les
       sous - marins ennemis et les signes d'une invasion. En 1943, des
       combats éclatèrent entre marins et ressortissants mexicains,
       déclenchant quatre jours d'affrontements dans la partie du centre-est
       de la ville. Cet événement est connu comme " Zoot Suit Riots." ("Zoot
       Suit" est un type de vêtement porté par certains membres de gangs.
       Pour les marins hostiles, la tenue était synonyme de «gangster».).
       Arthur C. Hohmann dut démissionner en 1941 après la grève notoire à
       l'usine d'aviation, où il refusa d'employer le LSPD comme briseurs
       de grève.
     </p>

     <p>La Gangster Squad (plus tard connue sous le nom de Organized Crime
       Intelligence Division (OCID)) était une unité spéciale créée en 1946
       pour lutter contre la Mafia de la côte Est et le crime organisé. Elle
       fut créée par le chef de police Clemence B. Horrall en 1946, et
       réunit huit hommes qui deviendront connu sous le nom de «Gangster
       Squad». Parallèlement à la lutte contre le crime organisé, ils furent
       chargés d'espionner les policiers corrompus. Les criminels comme
       Mickey Cohen, Jack Dragna, Bugsy Siegel, Jack Whalen et Jimmy
       Fratianno, pour n'en nommer que quelques-uns, étaient quelques-unes
       des cibles auxquelles ils s'attaquèrent.
     </p>

     <p>Sous la responsabilité de Clemence B. Horrall, l'un des cas les
       plus notoires fut le meurtre d'Elizabeth Short, plus connu sous le
       nom de Dahlia Noir. Horrall fut obligé de démissionner car impliqué
       dans le scandale "Brenda Allen". Il fut remplacé par William A.
       Worton, en tant que chef par intérim puis par William H. Parker.
       Parker développa un corps de police plus professionnel et permit à
       l'administration civile de gagner une plus grande autonomie,
       particulièrement en ce qui concerne les affaires internes. En
       parallèle, le scandale du "Noël Sanglant" éclata.
     </p>
   </section>

   <section class="contenu">
     <h2 id="1950">1950-1967</h2>
     <p>Parker servit le LSPD durant seize années jusqu'à sa mort, ce qui
       fait de son mandat le plus long de toute l'histoire de la police de
       LA. Son leadership, son intégrité et le zèle qu'il développa lui
       apportèrent une renommée internationale. Parker réorganisa
       structurellement le LSPD, demandant aux effectifs, plus d'honnêteté
       et de discipline. La devise " Protéger et Servir " fut créée par
       Parker. Le défi le plus sérieux que le LSPD rencontra pendant cette
       période fut les émeutes de Watts. Parker se vit remplacé par Thad
       Brown en 1966, puis par Thomas Reddin.
     </p>

     <p>Après l'intérim de Roger E. Murdock, Edouard M. Davis entra en
       fonction. En dépit de ses fautes occasionnelles, il présenta un
       certain nombre de programmes modernes visant le maintien de l'ordre
       au sein de la communauté.
     </p>
   </section>

   <section class="contenu">
     <h2 id="1967">1967-1978</h2>
     <p>Sous la responsabilité de Davis, le LSPD devint une force publique
       notoire, reconnue pour son maintien de l'ordre actif. Davis élargit
       les activités d'appui aérien, l'informatisation des données et le
       système des bons de souscription. Il a également considérablement
       augmentée la formation des agents dans les activités de gestion et
       d'administration. Parmi ses nombreuses autres contributions, on peut
       citer les relations communautaires et la mise en œuvre du plan Jacobs
       afin de fournir aux personnels du LSPD des possibilités d'avancement.
        Deux projets de formation virent le jour : l'instruction multimédia
        pour les programmes (DEFT) et l'application de la loi (MILE) pour le
        développement et l'évaluation des armes à feu. Il créa la Division
        Asiatique, en 1975 afin de fournir une assistance à la population
        asiatique de la ville alors en plein essor. Il décentralisa le
        Bureau des opérations et réalisa le programme « Buy School » en
        1974. Des officiers sous couverture se faisant passer pour des
        étudiants sélectionnaient des écoles secondaires afin de lutter
        contre la vente et la possession de stupéfiants. Le programme reste
        très efficace et a la pleine approbation du Conseil de l'éducation.
        On peut en voir un parfait exemple avec la série 21 Jump Street.
     </p>

     <p>La Fondation « Memorial de la police de Los Santos », une
       organisation de soutien pour les familles des policiers tués dans
       l'exercice de leurs fonctions, a été mis en œuvre. Depuis 1972, la
       Fondation a fourni une aide financière d'urgence aux familles des
       policiers blessés ou tués et aux personnes à leur charge. Elle assure
       également l'enseignement supérieur aux enfants d'officiers tués dans
       l'exercice de leurs fonctions. Cela inclut aujourd'hui les officiers
       de réserve, le personnel assermenté à la retraite, et les employés
       civils. La Fondation est entièrement financée par des contributions
       privées et sa seule collecte de fonds est le tournoi de golf annuel
       de la Police. Le Chef Davis inaugura les principes de gestion à
       laquelle le Département continue de répondre. Ces vingt principes
       soulignent l'importance de la participation du public en matière de
       prévention du crime, de l'aide et du partenariat entre la police et
       la communauté. Il a également mis toute son énergie dans la poursuite
       des trafiquants de stupéfiants et des gangs de rue et a pris des
       mesures pour gérer le nombre croissant d'étrangers sans papiers.
       Davis prit sa retraite en janvier 1978.
     </p>
   </section>

   <section class="contenu">
     <h2 id="1978">1978-1992</h2>
     <p> Daryl F. Gates hérita du bureau au moment où la Proposition 13 fut
       promulgué. Elle visait à diminuer le budget du département,
       supprimant 7.000 postes en sept ans, juste quand le trafic de drogue
       et les affrontements de gangs atteignaient des hausses sans
       précédent. En 1987, les deux problèmes les plus inquiétants auxquels
       le LSPD fut confronté fut le trafic de stupéfiants et la violence des
       gangs. D'énormes confiscation de drogues, d'argent et d'armes furent
       réalisées. Dans la guerre contre les stupéfiants, Gates contribua à
       développer un concept et un programme d'importance historique, la
       Drug Abuse Resistance Education (DARE). Le DARE est basé sur la thèse
       selon laquelle la génération actuelle a déjà cédé à la dépendance à
       la drogue et que l'avenir du pays réside dans la préparation des
       enfants à résister à la tentation.
     </p>

     <p>La création du SWAT fut officialisée en 1972. Le LSPD a depuis lors
       scrupuleusement sélectionné et formé tous les spécialistes affectés
       à des opérations du SWAT. Gates se tourna vers les habitants de Los
       Angeles en recrutant des volontaires pour aider le département.
       Ceux-ci répondirent par milliers, ce qui permettait au personnel
       de se concentrer sur des tâches plus urgentes. En 1988, ce fut
       l'activation de ce qui était le système de communication le plus
       sophistiqués de l'époque. Connu comme le système de contrôle des
       communications de commandement d'urgence (ECCCS), sa principale
       caractéristique était de fournir une réponse rapide aux citoyens
       via des ordinateurs installés dans les véhicules de patrouille.
       Gates gagna le soutien massif de la population grâce à sa patience,
       son dévouement et sa persévérance. Le conseil municipal lui confia
       la gestion d'un budget de plus de 419,5 millions $ et le commandement
       de plus de 7 200 agents assermentés et près de 2 500 employés civils.
     </p>
   </section>

   <section class="contenu">
     <h2 id="1992">1992-1997</h2>
     <p>1992 fut une année charnière. Le verdict dans le procès Rodney King,
       qui vit l'acquittement des quatre policiers accusés de brutalités et
       les émeutes qui s'ensuivirent, ont placé le département sous le feu
       des projecteurs. Cela relança le débat sur les relations raciales en
       Amérique, la désintégration de l'Amérique urbaine et le rôle de la
       police dans ces questions. Ces questions furent d'une importance
       capitale dans le procès O.J Simpson, dans la mesure où elles
       jouèrent un rôle certain dans le verdict d'acquittement.
     </p>

     <p>Willie L. Williams prit la barre en juin 1992 comme 50e chef de la
       police et premier Afro-américain en plus de quatre décennies de
       service. Une subvention de 607 000 $ du ministère de la Justice fut
       alloué afin d'opérer des changements. Ces changements comprenaient la
       reconstruction de la force de patrouille, le rajeunissant les
       voitures de fonction et le rétablissement de la confiance du public
       dans le département de police. En 1995, le département de police
       commença à moderniser ses installations. Le Centre de formation des
       recrues ouvrit ses portes à Westchester et à la fin de l'année plus
       de 1 000 individus avaient franchi ses portes. En outre, le Ministère
       commença à planifier l'ouverture de nouveaux postes de police sur
       North Hollywood, 77th Street, et Newton Street. Ces nouvelles
       stations furent opérationnelles en 1997.
     </p>

     <p>En mai 1997, le Conseil de Los Santos nomma Bayan Lewis comme chef
       intérimaire. Lewis mis en place un rôle une force de terrain mobile
       au sein de laquelle tous les agents furent formés pour réprimer les
       troubles dans la ville. Lewis annonça sa retraite le 14 septembre
       1997. Au même moment, éclata le scandale Rampart. Certains officiers
       du C.R.A.S.H, une division du LSPD de Rampart, furent impliqués dans
       un scandale de corruption. En 1997, le LSPD est également impliqué
       dans un échange de coups de feu au nord de Hollywood. Deux voleurs
       braquèrent une banque avec des AK-47s et tirèrent sur douze officiers
       et sept civils. Hormis les suspects, il n'y eut pas de victimes.
     </p>
   </section>

   <section class="contenu">
     <h2 id="1997">1997-2002</h2>
     <p>Le 22 août 1997, le chef adjoint Bernard C. Parks fut officiellement
       assermenté au titre de 52e chef de la police du département de police
       de Los Santos devant une foule estimée à 3 000 personnes à
       l'Académie de police de Los Santos. La carrière de Parks fut
       marquée par un engagement à protéger et à servir la communauté de Los
       Angeles. L'une de ses premières actions fut une réorganisation du
       Département, afin d'aplatir la chaîne hiérarchique de commandement
       et consolider les fonctions similaires ou connexes.
     </p>

     <p>Il a également lancé FASTRAC, un acronyme pour Focus,
       Responsabilisation, Stratégie, Travail d'équipe, Intervention et
       Coordination. Ce programme est un processus pour la pleine
       responsabilité du commandement dans tous les aspects du leadership
       au sein du Département. FASTRAC désigne le nouveau LSPD. Ses plans
       visaient à apporter un meilleur service de police de qualité à tous
       les habitants de Los Santos.
      </p>
    </section>

    <section class="contenu">
      <h2 id="2002">2002-2009</h2>
      <p>William Bratton fut nommé le 28 octobre 2002. Bratton supervisait
        le troisième plus grand département de police des États-Unis, la
        gestion de 9 300 agents assermentés, 3 000 employés civils et un
        budget annuel de plus d'un milliard de dollars. Ardent défenseur de
        la police communautaire, il opta pour une politique de
        décentralisation de la bureaucratie, le renforcement du commandement
        local, l'augmentation de la réactivité des forces de polices face
        aux préoccupations de la communauté et élabora des stratégies pour
        lutter contre les crimes liés aux gangs et la menace du terrorisme.
        Il dirigea le développement de COMPSTAT, le système métrique de
        renommée internationale et de commande qui utilise la technologie
        informatique de cartographie et d'analyse de la criminalité en
        temps réel pour cibler les habitudes criminelles émergentes et
        coordonner les interventions de la police.
      </p>

      <p>En 2005, le LSPD développa une campagne de recrutement grâce à des
        mini-films d'action en ligne et aux cinémas. Les films comportent
        de vrais officiers du LSPD en exercice et narrent leur quotidien.
      </p>
    </section>
{% endblock %}
