{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Page vierge pour les twig #}
{% extends "base.twig" %}

{% block style %}{% endblock %}

{% block description %}Règlements de la LSPD{% endblock %}

{% block key %}Règlements{% endblock %}

{% block title %}- Règlement de la ville{% endblock %}

{% block navigation %}
  <p><a href="/">Accueil</a></p>
  <p><a href="/Histoire">Histoire</a></p>
  <p><a href="/Candidature" target="_blank">Candidature</a></p>
{% endblock %}

{% block main %}
  <nav>
    <p>Navigation :</p>
    <a href="#1">Code interne au LSPD</a>
    <a href="#2">Code élève LSPD</a>
    <a href="#3">Code de la route</a>
    <a href="#4">Code pénal</a>
    <a href="#5">Interaction gang</a>
    <a href="#6">Intervention policière</a>
    <a href="#7">Loi Miranda</a>
    <a href="#">Revenir en haut</a>
  </nav>

  <section class="contenu">
    <h1>Règlements</h1>

    <h2 id="1">I - Code interne au LSPD</h2>
    <h3>Article 1 :</h3>
    <p>“Nom Prénom” ou “Prénom Nom” obligatoire en jeu</p>

    <h3>Article 2 :</h3>
    <p>À chaque dispatch, un chef de patrouille est désigné (pas forcément
       le plus haut  gradé). Personne ne prend d’initiative sans son
       autorisation. Il est entièrement responsable de son unité.
    </p>

    <h3>Article 3 :</h3>
    <p>Le chef de patrouille est la personne responsable de la communication
       entre les différentes unités.
    </p>

    <h3>Article 4 :</h3>
    <p>Le matériel du LSPD appartient uniquement au LSPD, la
       distribution de ce matériel entraînera un licenciement immédiat de la
       Police.
    </p>

    <h3>Article 5 :</h3>
    <p>Les équipements du SWAT sont exclusivement réservés aux policiers
       possédant l’habilitation.
    </p>

    <h3>Article 6 :</h3>
    <p>Un policier utilisant un équipement sans en avoir l’habilitation se
       verra sanctionné par l’état-major.
    </p>

    <h3>Article 7 :</h3>
    <p>Seuls les Commandants peuvent se permettre de
       promouvoir/rétrograder/licencier une personne, sans l’avis des autres
       gradés en dehors des réunions (L’accord doit être réciproque entre
       les deux).
    </p>

    <h3>Article 8 :</h3>
    <p>Un policier se doit d’avoir un équipement et une prestance
       irréprochable. (Barbe taillée, tatouages non visibles).
    </p>

    <h3>Article 9 :</h3>
    <p>La découverte de drogues dans un véhicule, si la quantité est petite,
       ne peut se faire qu’avec l'assistance de l’unité K9.
    </p>

    <h3>Article 10 :</h3>
    <p>Après une neutralisation, si un médecin est connecté sur le serveur,
       il est interdit  de faire un contrôle d’identité sur le joueur dans le
       coma.
    </p>

    <h3>Article 11 :</h3>
    <p>Lorsque vous utilisez une plateforme de streaming, vous représentez
       l’image de notre serveur et de notre police. C’est pourquoi, si vous
       commettez des actes qui ne respectent pas les bonnes pratiques du
       LSPD. Vous serez être sanctionné si un Commandant ou Capitaine vous
       voie.
    </p>
  </section>

  <section class="contenu">
    <h2 id="2">II - Code élève LSPD</h2>
    <h3>Article 1 :</h3>
    <p>Les cadets ne peuvent avoir d’armes létales. Sauf dans le cas où il est
       accompagné d'un formateur.
    </p>

    <h3>Article 2 :</h3>
    <p>Tout officier de police doit être capable de montrer et de former à
       son métier. C’est pourquoi, les cadets peuvent accompagner une
       patrouille composée d’un membre officier ou plus.
    </p>

    <h3>Article 3 :</h3>
    <p>Lors d’un contrôle, le cadet prend le rôle de spectateur. Cependant,
       si ses collègues le lui permettent, il peut effectuer le contrôle.
    </p>

    <h3>Article 4 :</h3>
    <p>L’élève se doit de poser toutes les questions nécessaires à la
       réussite de ses examens.
    </p>
  </section>

  <section class="contenu">
    <h2 id="3">III - Code de la route</h2>
    <h3>Article 1 :</h3>
    <p>Le port du casque est obligatoire.</p>

    <h3>Article 2 :</h3>
    <p>La vitesse est limitée à 50 km/h zone résidentiel, 70 km/h en ville, 90 km/h
      sur routes de Campagnes/Montagnes 130 km/h sur l’autoroute.
    </p>

    <h3>Article 3 :</h3>
    <p>Lors d’un contrôle la fouille de véhicules/personnes est interdit.
       Sauf sur un barrage routier ou à proximité de zone “dangereuse”.
    </p>

    <h3>Article 4 :</h3>
    <p>Si le véhicule est endommagé ou la personne a un comportement suspect, la
       fouille de celui-ci ou de ses occupants est autorisé.
    </p>

    <h3>Article 5 :</h3>
    <p>Au feu rouge, vous pouvez tourner à droite ou vous arrêtez 3 secondes
       minimums avant de poursuivre votre route.
    </p>

    <h3>Article 6 :</h3>
    <p>En cas de course-poursuite, l’utilisation de vos armes sur les forces
       de l’ordre conduira à une réponse dite de “neutralisation”.
    </p>

    <h3>Article 7 :</h3>
    <p>En cas de course-poursuite, l’utilisation d’une arme de service
       létale est autorisée pour détruire les pneus du véhicule suspect. En
       cas de réponse armée d’un suspect, la neutralisation est autorisée.
    </p>

    <h3>Article 8 :</h3>
    <p>Lorsque la police vous retire votre permis de conduire, vous avez
       l'interdiction formelle de conduire pendant 12 heures <strong>IRL</strong>.
       Dans le cas contraire, vous vous exposez au sanction de conduite sans permis.
    </p>

    <h3>Article 9 :</h3>
    <p>Lorsque vous faites l'acquisition d'un véhicule motorisé, vous devez le
       signaler à la police comme étant votre véhicule. Dans le cas contraire,
       le véhicule sera considéré comme volé ou importé illégalement et donc
       confisqué.
    </p>
  </section>

  <section class="contenu">
    <h2 id="4">IV - Code pénal</h2>
    <h3>Article 1 :</h3>
    <p>Une réduction de peine peut être accordée dans la mesure où la
       personne arrêtée donne des informations sur des points illégaux ou sur
       une personne. Les remises de peine ne se font qu'à partir du grade
       [Sergent-major] d’où l’importance de communiquer avec vos supérieurs.
    </p>

    <h3>Article 2 : </h3>
    <p>Le temps de prison ne peut excéder 60 mois (1 mois = 1 minute) si la
       personne paye son amende, 120 mois s'il ne la paye pas.
    </p>

    <h3>Article 3 : </h3>
    <p>Un temps de prison dépassant 60 mois, la détention s'effectue en prison
       fédérale. Tout temps de prison supérieure à 180 mois est considéré
       comme Fédéral à vie.
    </p>

    <h3>Article 4 :</h3>
    <p>Si une amende n’est pas payée dans un délai de 48h, le temps de
       prison est doublé. Et la moitié de l'amende devra être réglé par la suite
       S’il n’y a pas de temps de prison, celui-ci est ramené à 10 mois par défaut.
    </p>

    <h3>Article 5 :</h3>
    <p>Toute action ripoux ou non dénonciation d’action ripoux sera
       sanctionnée.
    </p>

    <h3>Article 6 :</h3>
    <p>Toutes moqueries, mauvais comportements, pressions morales
       envers les collègues entraînera un licenciement à effet immédiat sans
       possibilités de contestation.
    </p>

    <h3>Article 7 :</h3>
    <p>Pour défendre un civil, vous devez être recensé comme avocat dans nos
       fichiers
    </p>

    <h3>Article 8 :</h3>
    <p>Lorsque vous faites l'acquisition d'une arme blanche (Batte, couteau,
      machette, matraque, poing américain), d'un équipement tactique (Fumigène,
      lance fumigène, tazer), d'un pistolet semi automatique (Pistolet, pistolet
      de combat, Revolver Lourd, Pétoire, Pistolet .50, Revolver), d'une arme
      automatique (fusil d'assaut, pistolet automatique, ...), ou encore d'une
      arme de gros calibre (Dbshotgun, calibre 12, fusil de précision, fusil de
      chasse...), vous devez impérativement la déclarer à la police afin qu'elle
      soit enregistrée
    </p>

    <a href="/Amendes">Lien vers le montant des amendes</a>

    <p>Lors de votre visa, si le douanier vous demande ce que vous devez
       répondre quand il vous dit le mot “Monument” vous devez répondre “Tunnel”
    </p>
  </section>

  <section class="contenu">
    <h2 id="5">V - Interaction gang</h2>
    <h3>Article 1 :</h3>
    <p>Nous sommes avant tout des hommes pas des super héros. Parfois, il
       vaut mieux se rendre et attendre des renforts plutôt que de risquer
       de perdre la vie.
    </p>

    <h3>Article 2 :</h3>
    <p>Une personne avec un gilet pare-balles est considérée comme
       extrêmement hostile. Le tir létal est autorisé si son arme est dans
       sa main.
    </p>
  </section>

  <section class="contenu">
    <h2 id="6">VI - Intervention policière</h2>
    <h3>Article 1 :</h3>
    <p>Un policier doit privilégier l’arrestation par la mise en joue et/ou
       la menace verbale plutôt que la neutralisation.
    </p>

    <h3>Article 2 :</h3>
    <p>La sortie de véhicules spéciaux tels que l’hélicoptère ou les
       véhicules d’interceptions rapides doivent avoir l’aval d’un haut
       gradé (Lieutenant).
    </p>

    <h3>Article 3 :</h3>
    <p>La sortie du véhicule anti-émeute ne peut se faire que par les
       membres du SWAT. Et dans le cas d’une émeute.
    </p>

    <!--h3>Article 4:</h3>
    <p>La communication dans le canal global est réservée au chef de
      patrouille.
    </p-->

    <h3>Article 4 :</h3>
    <p>Si une banque ou prise d’otages est lancée, tous les policiers
       doivent attendre les consignes du plus haut gradé afin de voir ce
       qu’il va se passer.
    </p>

    <h3>Article 5 :</h3>
    <p>Les gyrophares et le klaxon ne sont pas considérés comme des
       sommations. Seules les sirènes le sont. Néanmoins, si une voiture
       ralentit devant vous avec des gyrophares, il est conseillé de
       s’arrêter sur le côté.
    </p>

    <h3>Article 6 :</h3>
    <p>L'état d'urgence est une situation de crise. Elle permet aux policiers
       de contrôler n'importe quel citoyen, sans motif, à n'importe quel moment.
       Le contrôle peut aller de la simple vérification de papier à la
       fouille personnelle et du véhicule.
    </p>

  <section class="miranda">
    <h1 id="7">Loi Miranda</h1>
    <p>“Vous avez le droit de garder le silence, si vous renoncez à ce droit,
       tout ce que vous direz pourra et sera retenu contre vous. Vous
       avez le droit à un avocat. Toutes vos communications vous ont été
       coupées, vous avez également le droit à des soins, à boire et à manger.”
    </p>
    <p>Avez-vous bien compris vos droits?</p>
    <p><strong>Pour les règles logiques non évoquées veuillez faire preuve de bon sens.</strong></p>
  </section>
</section>
{% endblock %}
